@font-face {
font-family: Quicksand;
url(font/static/Quicksand-Bold.ttf);
url(font/static/Quicksand-Light.ttf);
url(font/static/Quicksand-Medium.ttf);
url(font/static/Quicksand-Regular.ttf);
url(font/static/Quicksand-semibold.ttf);
}

*{
  box-sizing:border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0auto;
}

.home{
  size: 100%;
  background-color: grey;
}