*{
    box-sizing:border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    min-height: 100%;
    padding-bottom: 200px;
    background-color: rgb(248, 239, 255);
    padding-bottom:0;
}

h1{
    font-weight: 800 !important;
    color: #a161e7;
    font-size: 35px !important;
    padding-top: 70px;
    padding-bottom: 50px;
}

h2{
    font-weight: 800 !important;
    color: #ff9100;
    font-size: 2rem !important;
}

h3{
    font-weight: 800 !important;
    color: #8a8a8a;
    font-size: 1.5rem !important;
}

h5{
    font-weight: 700 !important;
    color: #b27ee8;
    font-size: 1.3rem !important;
}

h6{
    padding-top: 20px;
    font-weight: 700 !important;
    color: #b27ee8;
    font-size: 1.2rem !important;
}

hr{
    height:80px;
}

.center-img{
    width:40%;
}

button a{
    color: white;
    font-weight: bold;
}

button a:visited {
    color: white;
    font-weight: bold;
}

button a:hover{
    color: white;
    font-weight: lighter;
}

input {
    font-size:14px;
}

.nav-item a {
    color:white;
    font-weight: bold;
}

.nav-item a:hover {
    color: #ffcd8b;
    font-weight: bold;
}


blockquote{
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin:0px !important;
    padding-bottom:0px !important;
}

cite{
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}

.navbar{
    background-color: #cfa6fd
}

.nav-item{
    padding-top:10px;
    padding-bottom: 10px;
    margin:0 ;
    font-size: 18px;
}

p{
    font-size: 22px;
    font-weight: lighter;
}

.orange{
   font-weight: 800;
    color: #ff9100;
    font-size: 50px;
}

.pink-subtitle{
    font-weight: 700;
    color: #a161e7;
    font-size: 30px;
}

#logo{
    justify-content: flex-start;
    padding-bottom: 80px;
}

#logo-small-page{
    display: none;
}

.fullscreen-container{
    display:flex;
    flex-direction: column;
}

#homepage-pic{
    padding-top: 10px;
    padding-left:35px;
    padding-right:50px;
    width:90%;
    height:90%;
}

#quote{
    padding-top: 80px;
    text-align: center;
}

#logo{
    width:5%;
    padding:0;
}

.vh-90 {
    height: 90vh !important;
}

.vh-10 {
    height: 10vh !important;
}

.no-decoration{
    list-style: none;
}

.tech-skills-list>ul>li{
    padding:45px;
}

.soft-skills-list>ul>li{
    padding:15px;
 }

.soft-skills-list>ul>li>h3{
    padding:25px;
}

.carousel-first{
    background-color: #fdc47f;
    height: 500px;
}

.carousel-slides{
    background-color: #b27ee8;
    height: 500px;
}

.carousel-text-1{
    padding-bottom:15px;
    padding-right: 130px;
    padding-left: 40px;
    line-height: 1.5;
    font-size: 26px;

}

.carousel-text-2{
    width:100%;
    max-height:60%;
    line-height: 1.5;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 22px;
}


.flex-slides{
    display: flex;
    align-items: center;
    height: 500px;
}

.carousel-pic{
    padding-left: 150px;
    max-width:50%;
}

.max-h-20{
    max-height:10%;
}

#francesca{
max-width: 70%
}

.slides-pic{
    padding-left: 60px;
    max-width: 90%;
}

.no-space{
    padding:0;
    margin:0;
    line-height: 1.2;
}

.separator{
    height:80px;
    border: 0px;
}

#back-home{
    padding-left: 60px;
}

.custom-btn{
    background-color: #ff9100;
}

#footer{
    background-color: lightgrey;
}

#footer p{
    font-size:16px;
    text-align: center;
    line-height: 2;
}

#social-media-icons img{
    width:3rem;
    margin-bottom:50px;
}

.form h1{
    padding-top: 20px;
}

@media screen and (max-width: 1390px) {
    .carousel-first, .carousel-slides {
        height: 600px;
    }
    .flex-slides{
        justify-items: center;
        height:600px;
    }
}

@media screen and (max-width: 1010px) {
    .responsive-image {
        display: none;
    }

    #homepage{
        flex-direction: column;
    }

    #homepage p{
        padding:0;
        margin:0;
        font-size: 18px;
    }

    .orange{
        font-size:22px;
    }
    .pink-subtitle{
        font-size: 22px
    }

    #homepage-pic{
        width:100%;
        height:100%;
    }

    #logo{
        display: none;
    }

    #logo-small-page{
        display: block;
        width:5%;
        padding-top:20px;
        padding-bottom: 20px;
    }

    #homepage-text{
        padding-left:70px;
        padding-right:70px;
        text-align: center;
    }

    .carousel-text-1 {
        padding:50px;
        text-align: center;
    }

    .carousel-text-2 {
        display:none;
        width: 0%;
    }

    .flex-slides{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .carousel-slides, .carousel-first{
        height: 300px;
    }

    .carousel-pic {
        padding-left:0;
        padding-top: 30px;
    }

    #alientech{
        padding-top:20px;
    }

    #stellantis{
        padding:0px;
    }

    #homepage div {
        margin:10px;
    }
    #homepage button {
        margin:10px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-text-1 {
        text-align: center;
        font-size: 20px;
    }
    .tech-skills-list>ul>li{
        padding-right:0;
        padding-left:0;
    }

    .carousel-first .carousel-text-1{
        font-size:18px;
    }

}


@media screen and (max-height: 500px) {
    #homepage{
        flex-direction: row;
    }

    #logo{
        display: block;
    }

    #logo-small-page{
        display: none;
    }

    #homepage-text{
        padding-left:70px;
        padding-right:70px;
        text-align: center;
    }

    .carousel-text-1 {
        padding:50px;
        text-align: center;
    }

    .carousel-text-2 {
        display:none;
        width: 0%;
    }

    .flex-slides{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .carousel-slides, .carousel-first{
        height: 300px;
    }

    .carousel-pic {
        padding-left:0;
        padding-top: 30px;
    }

    #alientech{
        padding-top:20px;
    }

    #stellantis{
        padding:0px;
    }

    #homepage div {
        margin:10px;
    }
    #homepage button {
        margin:10px;
    }

    .btn{
        font-size:0.6rem !important;
    }
}